version: '3.8'

services:
    keycloak:
        image: quay.io/keycloak/keycloak:24.0.3
        container_name: keycloak
        command: start-dev # Inicia Keycloak en modo de desarrollo
        restart: unless-stopped # Reinicia el contenedor a menos que se detenga manualmente
        ports:
            - 9090:8080
        environment:
            - KEYCLOAK_ADMIN=admin
            - KEYCLOAK_ADMIN_PASSWORD=admin123
            - KEYCLOAK_FRONTEND_URL=http://host.docker.internal:9090
        volumes:
            - keycloak_data:/opt/keycloak/data
        networks:
            - tpibackend
        healthcheck: # Configuración de healthcheck para Keycloak
            test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080 || exit 1"] # Verifica si el puerto 8080 está abierto
            interval: 10s # Comprueba cada 10 segundos que el servicio esté saludable
            timeout: 5s # Tiempo de espera de 5 segundos para la comprobación
            retries: 10 # Reintenta hasta 10 veces antes de marcar como no saludable
            start_period: 30s # Tiempo de espera inicial de 30 segundos antes de iniciar las comprobaciones

    solicitudes-db:
        image: postgres:15
        container_name: solicitudes-db
        restart: unless-stopped
        environment:
            - POSTGRES_DB=solicitudes_db
            - POSTGRES_USER=solicitudes_user
            - POSTGRES_PASSWORD=solicitudes_password
        volumes:
            - solicitudes_data:/var/lib/postgresql/data
        networks:
            - tpibackend
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U solicitudes_user -d solicitudes_db"] # Comprueba si la base de datos está lista
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
        
    flota-db:
        image: postgres:15
        container_name: flota-db
        restart: unless-stopped
        environment:
            - POSTGRES_DB=flota_db
            - POSTGRES_USER=flota_user
            - POSTGRES_PASSWORD=flota_password
        volumes:
            - flota_data:/var/lib/postgresql/data
        networks:
            - tpibackend
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U flota_user -d flota_db"] # Comprueba si la base de datos está lista
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

    costos-db:
        image: postgres:15
        container_name: costos-db
        restart: unless-stopped
        environment:
            - POSTGRES_DB=costos_db
            - POSTGRES_USER=costos_user
            - POSTGRES_PASSWORD=costos_password
        volumes:
            - costos_data:/var/lib/postgresql/data
        networks:
            - tpibackend
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U costos_user -d costos_db"] # Comprueba si la base de datos está lista
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

    solicitudes-service:
        build:
            context: ./solicitudes-service
            dockerfile: Dockerfile
        container_name: solicitudes-service
        restart: unless-stopped
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://solicitudes-db:5432/solicitudes_db
            - SPRING_DATASOURCE_USERNAME=solicitudes_user
            - SPRING_DATASOURCE_PASSWORD=solicitudes_password
            - KEYCLOAK_ISSUER_URI=http://host.docker.internal:9090/realms/tpi-backend # Permite apuntar a localhost o al contenedor keycloak dentro de docker-compose
            - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
        depends_on:
            solicitudes-db:
                condition: service_healthy
            keycloak:
                condition: service_healthy
        networks:
            - tpibackend
    
    flota-service:
        build:
            context: ./flota-service
            dockerfile: Dockerfile
        container_name: flota-service
        restart: unless-stopped
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://flota-db:5432/flota_db
            - SPRING_DATASOURCE_USERNAME=flota_user
            - SPRING_DATASOURCE_PASSWORD=flota_password
            - KEYCLOAK_ISSUER_URI=http://host.docker.internal:9090/realms/tpi-backend
            - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
        depends_on:
            flota-db:
                condition: service_healthy
            keycloak:
                condition: service_healthy
        networks:
            - tpibackend

    costos-service:
        build:
            context: ./costos-service
            dockerfile: Dockerfile
        container_name: costos-service
        restart: unless-stopped
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://costos-db:5432/costos_db
            - SPRING_DATASOURCE_USERNAME=costos_user
            - SPRING_DATASOURCE_PASSWORD=costos_password
            - KEYCLOAK_ISSUER_URI=http://host.docker.internal:9090/realms/tpi-backend
            - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
            - GOOGLE_MAPS_API_KEY=${GOOGLE_MAPS_API_KEY}
        depends_on:
            costos-db:
                condition: service_healthy
            keycloak:
                condition: service_healthy
        networks:
            - tpibackend

    api-gateway:
        build:
            context: ./api-gateway
            dockerfile: Dockerfile
        container_name: api-gateway
        restart: unless-stopped
        ports:
            - 8080:8080
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - KEYCLOAK_ISSUER_URI=http://host.docker.internal:9090/realms/tpi-backend
            - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
            - KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
            - TPI_GATEWAY_SOLICITUDES_SERVICE_URL=http://solicitudes-service:8081
            - TPI_GATEWAY_FLOTA_SERVICE_URL=http://flota-service:8082
            - TPI_GATEWAY_COSTOS_SERVICE_URL=http://costos-service:8083
        depends_on:
            solicitudes-service:
                condition: service_started
            flota-service:
                condition: service_started
            costos-service:
                condition: service_started
            keycloak:
                condition: service_healthy
        networks:
            - tpibackend

networks:
    tpibackend:

volumes:
    keycloak_data:
    solicitudes_data:
    flota_data:
    costos_data:
