server:
  port: 8082
spring:
  application:
    name: flota-service

  datasource:
    url: jdbc:postgresql://localhost:5432/flota_db 
    username: flota_user
    password: flota_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://keycloak:8080/realms/tpi-backend}

logging:
  level:
    root: INFO
    ar.edu.utn.frc.backend.tpi.flota: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
