server:
  port: 8081
spring:
  application:
    name: solicitudes-service

  datasource:
    url: jdbc:postgresql://localhost:5432/solicitudes_db
    username: solicitudes_user
    password: solicitudes_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

  jackson:
    serialization:
      fail-on-empty-beans: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://host.docker.internal:9090/realms/tpi-backend}

logging:
  level:
    root: INFO
    ar.edu.utn.frc.backend.tpi.solicitudes: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
